.titulo__title {
    font-size: 4.5rem;
    color: var(--color-naranja-claro);
    text-align: center;
    padding: 4rem 0;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.publicar {
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.publicar__form {
    max-width: 92.5%;
    width: 65rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.publicar__form-textarea {
    height: 70%;
    background: var(--color-fondo);
    font-size: 1.7rem;
    padding: 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    resize: none;
}

.publicar__form-textarea:hover {
    outline: 1px solid var(--color-naranja-alt);
}

.publicar__form-button {
    align-self: flex-end;
}

.publicaciones__title {
    font-size: 4.5rem;
    color: var(--color-naranja-claro);
    text-align: center;
    padding: 4rem 0;
}

.publicaciones__container {
    background: var(--color-blanco);
    padding: 5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.7rem;
}

.publicaciones__notas {
    max-width: 92.5%;
    width: 90rem;
    min-height: 20rem;
    background: var(--color-salmon);
    border-radius: 10px;
    padding: 0 2rem;
    margin: 3rem 0;

    display: flex;
    flex-direction: column;

    transition: transform, box-shadow, 0.5s;
}

.publicaciones__notas:hover {
    transform: translateY(-2rem);
    box-shadow: 0 5px 10px var(--color-gris-claro);
}

.publicaciones__remitente,
.publicaciones__contenido,
.publicaciones__fecha,
.publicaciones__button {
    margin: 2.5rem 0;
}

.publicaciones__contenido {
    line-height: 1.2;
}

.publicaciones__button {
    color: var(--color-blanco);
    width: 13rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.5s;
    align-self: flex-end;
    text-align: center;
}

.publicaciones__button--eliminar {
    background: #cf0000;
}

.publicaciones__button--eliminar:hover {
    background: #a00000;
}


@media screen and (max-width: 875px) {
    
    .publicaciones__contenido {
        line-height: 1.5;
    }

}